@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

@theme {
  /* Colors */
  --color-secondary: #220490;
  --color-bg-1: #191919;
  --color-bg-2: #121212;
  --color-text: #f6f8fe;
  --color-primary-50: #deaef9;
  --color-primary-100: #d69bf8;
  --color-primary-200: #c87af6;
  --color-primary-300: #ba58f3;
  --color-primary-400: #ad37f1;
  --color-primary-500: #9d11ee;
  --color-primary-600: #870ecd;
  --color-primary-700: #710cab;
  --color-primary-800: #5b0a8a;
  --color-primary-900: #420764;
  --color-primary-950: #380655;
  --color-gray: #a6a6a6;
  /* Breakpoints */
}

